@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
    box-sizing: border-box;
}

.titres {
    font-size: 1.2rem;
    font-weight: 700;
}
body {
    font-family: 'Playfair Display', sans-serif;
    //font-family: 'Raleway', sans-serif;
    //font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(36, 31, 31);
    min-height: 100vh;
}
header{
    background: #f3e9f1;
}

.divMeuble {
    color: #1d1116;
}
.divImgMeuble {
    position: relative;
    border: 2px solid white;
}
.lienImg {
    position: absolute;
    height: 100%;
    width: 100%;
}
.fitImg {
    margin-top : .4rem;
    width: 275px;
    height: 300px;
    object-fit: cover;  
    border: #cea9ba 1px solid;
}
#meubleOptions {
    background-color: lightgreen;
}

#containerSite {
    position: relative;
}

#panierSite {
        position: absolute;
        width: 50px;
        height: 50px;
        right: 20px;
        top: 15px;
}
#spanPlus, #spanMoins {
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

#spanQte {
    &::before {
        content:' ';
    }
    &::after {
        content:' ';
    }
}

.jumbotron {
    background: #fff;
}

.col-md-4 {
    background: rgb(191, 226, 155);
}
.col-md-8 {
    background: green;
}
.h4 {
    font-family: 'Cinzel Decorative', cursive;
    color: white;
    filter: saturate(.2);
}
#frmContact {
    display: contents;
}
#frmContactNone {
    display: none;
}

.bg-bandeau {
    background: #3A242E;
}

.card {
    width : 300px;
    margin-bottom: 1rem;
    border: #3A242E solid 4px;
}

@media screen and (min-width: 576px) {
    .card {
        //width: 300px;
        //left: 25%;
    }
}

.divRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card-text + strong {
    background-color: rgb(235, 233, 233);
    color:rgb(36, 31, 31);
}





