@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
    box-sizing: border-box;
}
.titres {
    font-size: 1.2rem;
    font-weight: 700;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(36, 31, 31);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background: #f3e9f1;
}
main {
    flex: 1;
}
#divMeubles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divMeuble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #847;
    color: white;
}
.divImgMeuble {
    position: relative;
    border: 2px solid white;
}
.lienImg {
    position: absolute;
    height: 100%;
    width: 100%;
}
.fitImg {
    width: 300px;
    height: 300px;
    object-fit: cover;  
}
#meubleOptions {
    background-color: lightgreen;
}

#containerSite {
    position: relative;
}

#panierSite {
        position: absolute;
        width: 50px;
        height: 50px;
        right: 20px;
        top: 35px;
}
#spanPlus, #spanMoins {
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

#spanQte {
    &::before {
        content:' ';
    }
    &::after {
        content:' ';
    }
}

.jumbotron {
    background: #fff;
}

.col-6 {
    background: yellow;
}
.col-md-4 {
    background: rgb(191, 226, 155);
}
.col-md-8 {
    background: green;
}
.h4 {
    color: #3A242E;
    filter: saturate(.2);
}
#frmContact {
    display: contents;
}
#frmContactNone {
    display: none;
}




